*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

p {
  font-size: 1.6rem;
  color: var(--blue-600);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

h1 {
  font-size: 6.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 71px;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: inline-block;
}
