:root {
  --blue-100: #074ee8;
  --blue-200: #0343cf;
  --blue-300: #0039b4;
  --blue-400: #0034a4;
  --blue-500: #002a86;
  --blue-600: #001f61;

  --main-font: "Inter", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}
